-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only 展开菜单
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to '首页', root_path, class: 'navbar-brand'
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li= link_to '商品', items_path
      %ul.nav.navbar-nav.pull-right
        = render 'layouts/navigation_links'
